 /* navigation deising code is here  */
.dark-menubar{
    background: #151719;
    padding-top: 22px;
    padding-bottom: 22px;  
}
.light-menubar{
  background: rgba(237, 251, 255, 0.15);
  padding-top: 22px;
  padding-bottom: 22px;
  box-shadow: inset 51.6667px -51.6667px 51.6667px rgba(180, 191, 194, 0.1), inset -51.6667px 51.6667px 51.6667px rgba(255, 255, 255, 0.1);
}
 /* solution text design code here  */
.solution{
  font-size: 15px;
  line-height: 20px;
  padding-left: 3px;
  padding-top: 3px;
}
.dark-solution{
  color: #0578c2;
}
.light-solution{
  color: #1C2024;
}

  /* menu item design code start here  */

.menubar{
  display: flex;
  margin: auto !important;
}
.light-navbar{
  background-color: rgba(173, 216, 229, 0.322);
   box-shadow: 0px 0px 25px 25px rgba(173, 216, 229, 0.322);
}


/* click able menu item hover design code  */
.light-menu-item{
  color: rgb(2 44 88);
}
.nav-item{
  font-size: 18px;
  display: inline-block;
position: relative;

}

/* dark theme menu design  */

.dark-menu-item{
  color: #0087ca;
}
.light-menu-item{
  color: #002A57;

}
/* common menu item design code is here  */

.nav-item:hover{
  color:#E89B26;
  border-radius: 5px;
  padding: 12px 24px;
}
.nav-item:after{
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 10px;
  color: rgb(224, 136, 21);
  background-color: #E89B26;;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-item:hover:after{
    transform: scaleX(.5);
  transform-origin: bottom left;
  color: #E89B26;
}
.dark-icon>button{
    background-color: transparent;
    border: none;
    opacity: 1;
}
.light-moon{
    color: black;
    padding-right: 12px;
   
}
.night-moon{
    color: white;
    padding-right: 12px;
}
/* contact button code here  */
.contact-menu-item{
    text-decoration: none;
    font-weight: 700;
    background: linear-gradient(98.87deg, #FF8C00 16.95%, #FFDC12 157.07%);
    border-radius: 5px;
    padding: 12px 24px;
    color: #0578c2;
}

/* menubar responsive behaviour */

@media (max-width:767.5px) {
  .dark-menubar{
    position: fixed;
  }
  .light-menubar{
    position: fixed;
  }
  .menubar{
    margin: auto !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-menu-item{
    margin-top: 12px;
  }
  .contact-menubar-item{
    
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
  }
  .night-moon{
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  .light-moon{
    margin-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
  }
}