 /* project section code design  */

 .latest-project{
     padding-top: 100px;
 }
.dark-latest-project h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #E6F4F1;
}
.dark-latest-project p{
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #FFFFFF;
}
.light-latest-project h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.25px; 
    color: #002A57;
}
.light-latest-project p{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #1C2024;
}










.projects{
        background: linear-gradient(103.49deg, rgba(15, 68, 99, 0.1) 4.97%, rgba(0, 214, 214, 0.042) 104.68%);
    box-shadow: inset 61.6667px -61.6667px 61.6667px rgba(175, 185, 183, 0.1), inset -61.6667px 61.6667px 61.6667px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(123.333px);
    border-radius: 50px;
    padding: 20px;
    border: .1px solid rgb(250, 248, 248);
}
.dark-project-text h1{
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffffd0;
}
.dark-project-text p{
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #ffffffd0;
}
.dark-project-text .project-icon{
    text-align: left;
    color: #ffffffd0;
}
.light-project-text h1{
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #002A57;
}
.light-project-text p{
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #1C2024;
}
.light-project-text .project-icon{
    text-align: left;
    color: black;
}


   /* project sidebar designer  */

.ractangle-design{
    position: relative;
}
.ractangle-ractangle-one{
    width: 350px;
    height: 510px;
    margin-left: 100px;
    background: #E89B26;
}
 

.ractangle-ractangle-two{
    position: absolute;
    width: 355px;
    height: 379px;
    top: 100px;
    left: -20px;
    background: #00B2D3;
    border-radius: 15px;
}
.ractangle-ractangle-two span{
    position: absolute;
    width: 41.57px;
    height: 36px;
    top: 50%;
    left: 50%;
    background-image:
      linear-gradient(to bottom right, transparent 50%, #E9E1E1 0),
      linear-gradient(to top right, #E9E1E1 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left, right;
    transform: rotate(90.29deg);
}

@media (max-width:481px) {
    .ractangle-ractangle-one{
        width:75%;
    }
    .ractangle-ractangle-two{
        width: 75%;
    }
}
@media (max-width:326px) {
    .ractangle-ractangle-one{
        width:65%;
    }
    .ractangle-ractangle-two{
        width: 65%;
    }
}