.service-section{
    padding-top: 70px;
    margin-top:50px ;
    padding-bottom: 44px;
    background-color: black;
}
.service-title{
 
    margin-bottom: 110px;
    color: #ffffff;
}
.services-card{
    display: flex;
    
}
.service-card{
    width: 270px;
    height: 292px;
    margin-left: 47px;
    margin-bottom: 49px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(235, 235, 235, 0.22);
    border-radius: 20px;
}
.service-card-one{
   margin-top: -55px;
   background: linear-gradient(90deg, #43CEA2 0%, #185A9D 100%);
 
}
#service-text-one{
    color: #ffffff;
}
.service-card-two{
    margin-top: -35px;
  
 }
.service-img{
    display: flex;
    justify-content: center;
     margin-top: 46px;
}
.service-img img{
    width: 80px;
    height: 80px;
}

.service-text h2{
    margin-top: 45px;
    font-weight: 500;
    text-align: center;
    font-size: 28px;
    line-height: 38px;
    color: #002A57;
}

/* service provider  */

.service-provider{
    margin-top: 70px;
    text-align: left;
}
.service-provider-header h1{
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: #E6F4F1;
}

.service-provider-text{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: rgba(237, 251, 255, 0.7);
}
.service-provider-btn button{
    color: #ffffff;
    border: none;
    background: #151719;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    padding: 10px;
    border: #ffffff .5px solid;
    border-radius: 7px;
}


/* service section  responsive desing code  */

@media (max-width:500px) {
    .services-card{
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .service-card{
        margin-left: 14px;
        /* margin-bottom: 49px; */
    }
    .service-card-one{
        margin-bottom: 15px;
        background: linear-gradient(90deg, #43CEA2 0%, #185A9D 100%);
      
     }
     .service-card-two{
         /* margin-top: 15px; */
         margin-bottom: 15px;
       
      }
}