 /* 2x deliver section  */

.dark-deliver-section{
    background-color:  #151719;
    padding-top: 100px;
}
.light-deliver-section{
    background: #E6F4F1;
    padding-top: 100px;
}
.faster{
    color: white;

}
.faster-deliver{
    font-weight: 600;
    line-height: 0px;
    font-size: 50px;
}

.faster-color{
    font-size: 58px;
    letter-spacing: 0.01em;
    font-weight: 800;
    background: -webkit-linear-gradient(left, orange , yellow);
    background: -o-linear-gradient(right, orange, yellow);
    background: -moz-linear-gradient(right, orange, yellow);
    background: linear-gradient(to right, orange , yellow); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.solution-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5px;
    
}
   .deliver-img{
       width: 470px;
       height: 470px;
   }

.faster-button{
    background: linear-gradient(98.87deg, #068AC1 16.95%, #7DF9C2 157.07%);
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.faster-inp{
    background: #FFFFFF;
    box-shadow: 4px 25px 50px rgba(109, 141, 173, 0.25);
    border-radius: 5px;
    width: 60%;
    padding: 12px 24px;
    border: none;
    outline: 0ch;
}


 /* checked work code is here  */
 
.checked-work{
    position: relative;
    width: 75%;
    background-color: rgba(233, 225, 225, 0.836);
    border-radius: 15px;
}
.checked-work h2{
    font-weight: 800;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.checked-work span{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: rgba(28, 32, 36, 0.5);
}
.rocket {
    position: absolute;
    left: -7%;
    top: 90%;
}
.rocket img{
    border-radius: 45%;
    width: 70px;
    height: 70px;
    transform: rotate(-90deg);
}
 /* deliver section checked work responsive behavioue */
@media (max-width:1199px) {
    .checked-work{
        width: 85%;
    }
}
@media (max-width:982px) {
    .deliver-img{
         width: 96%;
    }
    
}
@media (max-width:767.5px) {
    .checked-work{
        width: 85%;
    }
    .checked-working-project{
        margin-top: 12px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
}

